@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-family: serif;
    font-size: 70px;
    line-height: 64px;
    color: black;
}

h2 {
    font-family: serif;
    font-size: 60px;
    line-height: 54px;
    color: black;
}
h3 {
    font-family: serif;
    font-size: 40px;
    line-height: 54px;
    color: goldenrod;
}

h4 {
    font-family: serif;
    font-size: 20px;
    line-height: 1.6;
    color: black;
}

h5 {
    font-weight: 700;
    line-height: 1.6;
    font-size: 12px;
    color: black;
}

h6 {
    font-size: 15px;
    color: goldenrod;
    margin: 15px 0 20px 0;
}

p {
    font-size: 15px;
    color: goldenrod;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

.section-b1 {
    padding: 40px 80px;
}

.section-b2 {
    padding: 40px 80px;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid white;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

/* Header Start */
#header img {
    width: 40%;
    height: 40%
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 80px 10px 50px;
    background: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: lightgrey;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: gold;
}

#navbar li a.active::after, 
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: goldenrod;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
#navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
#navbar .dropdown-content a:hover {background-color: #f1f1f1;}
  
#navbar .dropdown:hover .dropdown-content {
    display: block;
}

#mobile {
    display: none;
    align-items: center;
}

/* User Page */

#user {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/download/userbgspic.jpg);
    background-position: center;
    background-size: cover;
    position: fixed;
}

.form-box {
    width: 380px;
    height: 450px;
    position: relative;
    margin: 5% auto;
    background: white;
    padding: 2px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px rgba(0,0,0,0.2);
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 25px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background-color: goldenrod;
    border-radius: 30px;
    transition: 0.3s;
}

.icons {
    margin: 10px auto;
    text-align: center;
}

.icons i {
    width: 20px;
    margin: 0 12px;
    cursor: pointer;
}

.input-grp {
    top: 150px;
    position: absolute;
    width: 250px;
    transition: 0.3s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: goldenrod;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: #222;
    font-size: 12px;
    bottom: 62px;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

/* Home Page */
#hero {
    background-image: url("img/bgpic.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: right -280px top 64% ;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    font-size: 35px;
    padding-bottom: 10px;
    color: goldenrod;
}
#hero h6 {
    padding-bottom: 5px;
}

#hero button  {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#hero button:hover {
    color: goldenrod;
    transform: scale(1.2);
    transition: 0.2s ease;
}